.heading {
    background-color: #ff9999;
    padding: 8px;
    text-align: center;
    font-size: 1rem;
    margin: 0px;
}

.flex-container {
    display: flex;
    margin: 16px;
}

.released-movies {
    flex: 76;
    margin: 16px;
}

.filter {
    flex: 24;
    margin: 16px;
}

.image:hover {
    cursor: pointer;
}