.tablePanel {
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dispNone {
    display: none;
}

.dispBlock {
    display: block;
}

.red{
    color: red; 
}